*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(202,162,170);
}

.container{
    width: 75%;
    margin: auto;
}

.headerparent{
    display: flex; 
    margin-top: 1rem;
    border: double 2px rgb(246,245,240);
}

.left{
    width: 30%;
    background-color: white;
}

.profil{text-align: center;}

.profil .img{
    width: 220px;
    height: 220px;
    border-radius: 3rem;
    box-shadow: 20px 10px 20px rgb(202,162,170);
    background-image: url(profil1.img.JPG);
    background-size:cover;
    margin: auto;
}

h2, h4, p{
    color:rgb(50, 50, 50);
    padding-top: 1rem;
}

h2{color:rgb(197,127,146);}

.about ul li{list-style: none;}

.about ul li a{
    color:rgb(197,127,146); 
    font-size: 1.75rem;
    padding-right: .5rem;
}

.social ul li{display: inline-block;}

.social ul li a{
    color:rgb(197,127,146); 
    font-size: 2.75rem;
    margin: .5rem ;
}

.profil, .about, .social{margin:1rem 0;}

/*****PROFİL KISMI BİTTİ*****/
.right{
    width: 70%;
    background-color:rgb(187,187,187);
    position: relative;
}

.pencilimg{
    color:rgb(197,127,146); 
    position: absolute;
    right: 4rem;
    top: 1rem;
    font-size: 4rem;
    animation-name: pencil;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes pencil{
    from{font-size: 5rem;} to{color:rgb(50, 50, 50);}
}

.text{
    width: 90%;
    line-height: 1.5rem;
    margin: 3rem;
}

/*****HAKKIMDA KISMI BİTTİ*****/
/*****HEADER BİTTİ.*****/
.boxs{
    width: 100%;
    background-color:rgb(187,187,187);
    display: flex;
    border: double 2px rgb(246,245,240);
    justify-content:space-evenly;
    text-align: center;
    padding: 1rem 0;
}

.boxs a{
    width: 22%;
    border-radius: 3rem;
    box-shadow: 20px 10px 20px rgb(90, 90, 90);
    text-decoration: none;
}

.box .bi{
    color: rgb(197,127,146);
    font-size: 4rem;
}

h1{
    color: rgb(197,127,146);
    font-size:large;
    margin: 2rem;
}

.boxs .school{background-color:white;}
.boxs .work{background-color:white;}
.boxs .hobby{background-color:white;}

/*****SECTİON KISMI BİTTİ*****/
@media screen and (max-width:970px)
{ 
.pencilimg{display: none;}
.headerparent{display: block; font-size: small;}
.container{width: 90%;}
.profil .img{ width:150px; height:150px;}
.profil{padding: 1rem;}
.left{width: 100%; padding:.5rem;}
.right{width: 100%; padding-bottom: .5rem;}
.text{margin: auto; 
    align-items: center; 
    font-size: small;}
.boxs a{width: 25%; border-radius:.5rem;}
.box .bi{font-size: 2rem;}
h1{font-size: 10px; margin: 1rem 1rem;}
}

/*****MEDİASCREEN TAMAMLANDI.*****/



